//  Breakpoints   //
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//  Colores   //
$h-gray: #403d40;
$p-gray: #aeadae;
$p-aquamarine: #19b4c6;
$footer-background: #f2fbfb;
